#costsHeader {
    height: 40vh;
    background-color: sandybrown;
    margin-bottom: 5vh;
    text-align: center;
    padding-top: 5vh;
}

#dateSelect {
    
}

#payments {
    max-height: 55vh;
}

#personalPayments {
    height: 55vh;
    padding-top: 15vh;
    text-align: center;
}

#rentButton {
    background-color: darkorange;
    color: white;
}

#input {
    margin-top: 10vh;
}

.percentContributedBryce {
    font-size: 11px;
    color: darkviolet;
}

.percentContributedLeon {
    font-size: 11px;
    color: lightseagreen;
}

.percentContributedHannah {
    font-size: 11px;
    color: goldenrod;
}